In [1]:
import pandas as pd
import numpy as np
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
df = pd.read_csv('matches.csv')

In [3]:
df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
df.tail()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [5]:
df.describe()

,id,season,dl_applied,win_by_runs,win_by_wickets,umpire3
count,636.000000,636.000000,636.000000,636.000000,636.000000,0.0
mean,318.500000,2012.490566,0.025157,13.682390,3.372642,NaN
std,183.741666,2.773026,0.156726,23.908877,3.420338,NaN
min,1.000000,2008.000000,0.000000,0.000000,0.000000,NaN
25%,159.750000,2010.000000,0.000000,0.000000,0.000000,NaN
50%,318.500000,2012.000000,0.000000,0.000000,4.000000,NaN
75%,477.250000,2015.000000,0.000000,20.000000,7.000000,NaN
max,636.000000,2017.000000,1.000000,146.000000,10.000000,NaN

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               636 non-null    int64
 1   season           636 non-null    int64
 2   city             629 non-null    object
 3   date             636 non-null    object
 4   team1            636 non-null    object
 5   team2            636 non-null    object
 6   toss_winner      636 non-null    object
 7   toss_decision    636 non-null    object
 8   result           636 non-null    object
 9   dl_applied       636 non-null    int64
 10  winner           633 non-null    object
 11  win_by_runs      636 non-null    int64
 12  win_by_wickets   636 non-null    int64
 13  player_of_match  633 non-null    object
 14  venue            636 non-null    object
 15  umpire1          635 non-null    object
 16  umpire2          635 non-null    object
 17  umpire3          0 non-null      float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.6+ KB
None

In [7]:
print("Missing Values:")
print(df.isnull().sum())

Missing Values:
id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               3
win_by_runs          0
win_by_wickets       0
player_of_match      3
venue                0
umpire1              1
umpire2              1
umpire3            636
dtype: int64

In [8]:
df.drop(['umpire3'], inplace = True, axis = 1)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               636 non-null    int64
 1   season           636 non-null    int64
 2   city             629 non-null    object
 3   date             636 non-null    object
 4   team1            636 non-null    object
 5   team2            636 non-null    object
 6   toss_winner      636 non-null    object
 7   toss_decision    636 non-null    object
 8   result           636 non-null    object
 9   dl_applied       636 non-null    int64
 10  winner           633 non-null    object
 11  win_by_runs      636 non-null    int64
 12  win_by_wickets   636 non-null    int64
 13  player_of_match  633 non-null    object
 14  venue            636 non-null    object
 15  umpire1          635 non-null    object
 16  umpire2          635 non-null    object
dtypes: int64(5), object(12)
memory usage: 84.6+ KB

In [10]:
df.isnull().sum().sort_values(ascending = False)

city               7
player_of_match    3
winner             3
umpire2            1
umpire1            1
id                 0
season             0
date               0
team1              0
result             0
toss_decision      0
toss_winner        0
team2              0
win_by_wickets     0
win_by_runs        0
dl_applied         0
venue              0
dtype: int64

In [11]:
#Fix null for column - city
df[pd.isnull(df['city'])]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
461,462,2014,NaN,2014-04-19,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,7,PA Patel,Dubai International Cricket Stadium,Aleem Dar,AK Chaudhary
462,463,2014,NaN,2014-04-19,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0,Delhi Daredevils,0,4,JP Duminy,Dubai International Cricket Stadium,Aleem Dar,VA Kulkarni
466,467,2014,NaN,2014-04-23,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,normal,0,Chennai Super Kings,7,0,RA Jadeja,Dubai International Cricket Stadium,HDPK Dharmasena,RK Illingworth
468,469,2014,NaN,2014-04-25,Sunrisers Hyderabad,Delhi Daredevils,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,4,0,AJ Finch,Dubai International Cricket Stadium,M Erasmus,S Ravi
469,470,2014,NaN,2014-04-25,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Chennai Super Kings,0,7,MM Sharma,Dubai International Cricket Stadium,BF Bowden,M Erasmus
474,475,2014,NaN,2014-04-28,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,5,Sandeep Sharma,Dubai International Cricket Stadium,BF Bowden,S Ravi
476,477,2014,NaN,2014-04-30,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Sunrisers Hyderabad,15,0,B Kumar,Dubai International Cricket Stadium,HDPK Dharmasena,M Erasmus

In [12]:
df['city'] = df['city'].fillna("DUBAI")

In [13]:
df.isnull().sum().sort_values(ascending = False)

player_of_match    3
winner             3
umpire2            1
umpire1            1
id                 0
season             0
city               0
date               0
team1              0
result             0
toss_decision      0
toss_winner        0
team2              0
win_by_wickets     0
win_by_runs        0
dl_applied         0
venue              0
dtype: int64

In [14]:
#Fix null for column - player_of_match
df[pd.isnull(df['player_of_match'])]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
300,301,2011,Delhi,2011-05-21,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker
545,546,2015,Bangalore,2015-04-29,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,JD Cloete,PG Pathak
570,571,2015,Bangalore,2015-05-17,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan

In [15]:
df['player_of_match'] = df['player_of_match'].fillna("Nidhi")

In [16]:
df.isnull().sum().sort_values(ascending = False)

winner             3
umpire1            1
umpire2            1
id                 0
season             0
team2              0
city               0
date               0
team1              0
result             0
toss_decision      0
toss_winner        0
dl_applied         0
win_by_wickets     0
win_by_runs        0
venue              0
player_of_match    0
dtype: int64

In [17]:
df['winner'] = df['winner'].fillna("DRAW")

In [18]:
df.isnull().sum().sort_values(ascending = False)

umpire2            1
umpire1            1
id                 0
season             0
city               0
team2              0
toss_winner        0
date               0
team1              0
result             0
toss_decision      0
dl_applied         0
winner             0
win_by_wickets     0
win_by_runs        0
venue              0
player_of_match    0
dtype: int64

In [19]:
#Fix null for column - umpire1
df['umpire1'].value_counts() #Mode of the column

umpire1
HDPK Dharmasena          73
Asad Rauf                51
AK Chaudhary             43
Aleem Dar                38
BF Bowden                37
S Ravi                   36
BR Doctrove              34
M Erasmus                32
RE Koertzen              20
S Asnani                 19
JD Cloete                16
CB Gaffaney              14
BG Jerling               13
AY Dandekar              13
NJ Llong                 12
SS Hazare                11
A Nand Kishore           11
Nitin Menon              11
VA Kulkarni              11
KN Ananthapadmanabhan    11
RK Illingworth           11
S Das                    10
MR Benson                10
K Hariharan              10
DJ Harper                 9
BNJ Oxenford              7
IL Howell                 7
RM Deshpande              7
GAV Baxter                7
C Shamshuddin             6
SJ Davis                  6
CK Nandan                 5
SD Fry                    5
SK Tarapore               5
YC Barde                  4
A Deshmukh                3
AM Saheba                 3
K Bharatan                3
PR Reiffel                3
AV Jayaprakash            2
K Srinath                 2
PG Pathak                 2
SL Shastri                1
SJA Taufel                1
Name: count, dtype: int64

In [20]:
df['umpire1'] = df['umpire1'].fillna('HDPK Dharmasena')

In [21]:
df.isnull().sum().sort_values(ascending = False)

umpire2            1
id                 0
season             0
date               0
city               0
team2              0
toss_winner        0
toss_decision      0
team1              0
result             0
dl_applied         0
win_by_runs        0
winner             0
win_by_wickets     0
player_of_match    0
venue              0
umpire1            0
dtype: int64

In [22]:
#Fix null for column - umpire2
df['umpire2'].value_counts() #Mode of the colmn

umpire2
SJA Taufel         54
C Shamshuddin      50
S Ravi             49
RJ Tucker          38
CK Nandan          36
RB Tiffin          30
VA Kulkarni        28
SK Tarapore        26
BNJ Oxenford       25
AM Saheba          23
M Erasmus          22
RE Koertzen        21
DJ Harper          18
AK Chaudhary       15
HDPK Dharmasena    14
NJ Llong           13
K Srinath          13
SL Shastri         13
S Asnani           11
K Hariharan        11
CB Gaffaney        10
VK Sharma           9
RK Illingworth      8
Nitin Menon         8
PR Reiffel          8
BR Doctrove         8
IL Howell           7
SS Hazare           6
AL Hill             6
I Shivram           6
GA Pratapkumar      6
PG Pathak           6
A Nand Kishore      5
S Das               5
TH Wijewardene      5
BG Jerling          4
AV Jayaprakash      4
A Deshmukh          3
K Srinivasan        3
MR Benson           2
SD Ranade           2
SJ Davis            1
JD Cloete           1
Subroto Das         1
SD Fry              1
Name: count, dtype: int64

In [23]:
df['umpire2'] = df['umpire2'].fillna('SJA Taufel')

In [24]:
df.isnull().sum().sort_values(ascending = False)

id                 0
season             0
city               0
date               0
team1              0
team2              0
toss_winner        0
toss_decision      0
result             0
dl_applied         0
winner             0
win_by_runs        0
win_by_wickets     0
player_of_match    0
venue              0
umpire1            0
umpire2            0
dtype: int64

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               636 non-null    int64
 1   season           636 non-null    int64
 2   city             636 non-null    object
 3   date             636 non-null    object
 4   team1            636 non-null    object
 5   team2            636 non-null    object
 6   toss_winner      636 non-null    object
 7   toss_decision    636 non-null    object
 8   result           636 non-null    object
 9   dl_applied       636 non-null    int64
 10  winner           636 non-null    object
 11  win_by_runs      636 non-null    int64
 12  win_by_wickets   636 non-null    int64
 13  player_of_match  636 non-null    object
 14  venue            636 non-null    object
 15  umpire1          636 non-null    object
 16  umpire2          636 non-null    object
dtypes: int64(5), object(12)
memory usage: 84.6+ KB

In [26]:
# season, city, team1, team2, toss_winner, toss_decision, winner
df_1 = df.drop(['id', 'date', 'result', 'dl_applied', 'win_by_runs', 'win_by_wickets',
'player_of_match', 'venue',
'umpire1', 'umpire2'], axis = 1)

In [27]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   season         636 non-null    int64
 1   city           636 non-null    object
 2   team1          636 non-null    object
 3   team2          636 non-null    object
 4   toss_winner    636 non-null    object
 5   toss_decision  636 non-null    object
 6   winner         636 non-null    object
dtypes: int64(1), object(6)
memory usage: 34.9+ KB

In [28]:
#Label Encode city, toss_decision using Label Encoder class
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df_1['city'] = le.fit_transform(df_1['city'])
df_1['toss_decision'] = le.fit_transform(df_1['toss_decision'])
df_1.head(5)

,season,city,team1,team2,toss_winner,toss_decision,winner
0,2017,14,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,1,Sunrisers Hyderabad
1,2017,25,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,1,Rising Pune Supergiant
2,2017,27,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,1,Kolkata Knight Riders
3,2017,15,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,1,Kings XI Punjab
4,2017,2,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,0,Royal Challengers Bangalore

In [29]:
df_1.team1.value_counts()

team1
Mumbai Indians                 82
Kings XI Punjab                77
Chennai Super Kings            77
Royal Challengers Bangalore    70
Kolkata Knight Riders          68
Delhi Daredevils               63
Rajasthan Royals               54
Sunrisers Hyderabad            46
Deccan Chargers                43
Pune Warriors                  20
Gujarat Lions                  14
Rising Pune Supergiant          8
Kochi Tuskers Kerala            7
Rising Pune Supergiants         7
Name: count, dtype: int64

In [30]:
#Label Encode team1, team2, winner, toss_winner, using Mapper
teamMapper={"Mumbai Indians": 0, "Chennai Super Kings": 1, "Kings XI Punjab":2, "Royal Challengers Bangalore" : 3, 
              "Kolkata Knight Riders" : 4,"Delhi Daredevils" : 5,"Rajasthan Royals" : 6,"Sunrisers Hyderabad" : 7,
              "Deccan Chargers" : 8, "Pune Warriors" : 9,"Gujarat Lions" : 10,"Rising Pune Supergiant" : 11, 
              "Kochi Tuskers Kerala": 12,"Rising Pune Supergiants": 13, 'DRAW': 14}
for dataset in [df_1]:
    dataset['team1'] = dataset['team1'].map(teamMapper)

In [31]:
for dataset in [df_1]:
    dataset['team2'] = dataset['team2'].map(teamMapper)
    dataset['toss_winner'] = dataset['toss_winner'].map(teamMapper)
    dataset['winner'] = dataset['winner'].map(teamMapper)

In [32]:
df_1.head()

   season  city  team1  team2  toss_winner  toss_decision  winner
0    2017    14      7      3            3              1       7
1    2017    25      0     11           11              1      11
2    2017    27     10      4            4              1       4
3    2017    15     11      2            2              1       2
4    2017     2      3      5            3              0       3

In [34]:
#X and Y #First Iteration
X = df_1.drop(['winner', 'toss_winner', 'toss_decision'], axis=1)
y = df_1['winner']

#X and Y #Second Iteration
X = df_1.drop(['winner'], axis = 1)
y = df_1['winner']
       
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [35]:
#Goal 1 - predict win based on team1, team2, city, season, y = winner
#Model Training - Gaussian NB
from sklearn.naive_bayes import GaussianNB
clf_gnb = GaussianNB()
clf_gnb.fit(X_train, y_train)
y_prediction_gnb = clf_gnb.predict(X_test)
accuracy_score_gnb = clf_gnb.score(X_train, y_train)*100
print (accuracy_score_gnb)

32.80898876404494

In [36]:
#Model Training - KNN
from sklearn.neighbors import KNeighborsClassifier
clf_knn = KNeighborsClassifier(n_neighbors=3)
clf_knn.fit(X_train, y_train)
y_prediction_gnb = clf_knn.predict(X_test)
accuracy_score_knn = clf_knn.score(X_train, y_train)*100
print (accuracy_score_knn)

62.92134831460674